# 忽略 .a 文件
*.a
*.o
*.log
# 但否定忽略 lib.a, 尽管已经在前面忽略了 .a 文件
!lib.a
# 仅在当前目录下忽略 TODO 文件， 但不包括子目录下的 subdir/TODO
TODO
# 忽略 build/ 文件夹下的所有文件
build/
lib/
.vscode/
# 忽略 doc/notes.txt, 不包括 doc/server/arch.txt
doc/*.txt
# 忽略所有的 .pdf 文件 在 doc/ directory 下的
doc/*.pdf
doc/*.doc
doc/*.docx

test/DATA_0
test/aio_example
test/aio_read
test/aio_read.cc.orig
test/cpp_prod_test
test/data_aio
test/file_truncate
test/office_test
test/prod_test
test/read
test/single_aio
test/test
test/thd_aio
test/thread_local
test/truncate_test
test/write
test/write.log.q
test/write.log.seq
test/write.old.log.2
test/mock_fio
test/multi_req_1_thd
test/multi_req_1_thd_1000
test/multi_req_1_thd_64
test/no_cmp_read
test/test_chrono
